# Pandas Lab

### 1. Create a data series with marks of students : 75, 80, 79, 60

In [41]:
import pandas as pd

marks = pd.Series([75, 80, 79, 60])

### 2. Create a data frame with name of students, id and marks

In [42]:
import pandas as pd

marks = pd.DataFrame([{ 'name': 'Irfan', 'id': 1, 'marks': 100}, { 'name': 'Ahmed', 'id': 2, 'marks': 80},{ 'name': 'Noman', 'id': 3, 'marks': 95}], columns={'name', 'id', 'marks'}) 
marks
marks.to_csv('data.csv')

### 3. Now read the file 'data.csv' in panda

In [43]:
data=pd.read_csv('data for panda exercise.csv')
data

     Student Code  Degree  ... Total (100)  Grade
0    022-14-19987  BS(CS)  ...          70      B
1   022-14-110233  BS(CS)  ...          50      F
2   022-14-110585  BS(CS)  ...          63      C
3    022-14-19718  BS(CS)  ...          46      F
4   022-14-110648  BS(CS)  ...          77      B
5   022-14-110232  BS(CS)  ...          71      B
6   022-14-110588  BS(CS)  ...          74      B
7   022-14-110388  BS(CS)  ...          85      A
8   022-14-110601  BS(CS)  ...          61      C
9   022-14-110599  BS(CS)  ...          84      A
10  022-14-110214  BS(CS)  ...          91      A
11  022-14-110591  BS(CS)  ...          76      B
12  022-15-110994  BS(CS)  ...          73      B
13  022-14-110600  BS(CS)  ...          67      C
14  022-14-110389  BS(CS)  ...          65      C
15   022-14-19916  BS(CS)  ...          18      F
16  022-14-110596  BS(CS)  ...          72      B
17  022-14-110396  BS(CS)  ...          70      B
18  022-14-110223  BS(CS)  ...          60      C
19  022-14-110222  BS(CS)  ...          91      A
20  022-14-110412  BS(CS)  ...          71      B
21  022-14-110593  BS(CS)  ...          60      C
22  022-14-110398  BS(CS)  ...          57      F
23   022-14-19983  BS(CS)  ...          62      C
24  022-14-110215  BS(CS)  ...          77      B
25  022-14-110105  BS(CS)  ...          86      A
26  022-14-110370  BS(CS)  ...          65      C
27  022-14-110452  BS(CS)  ...          71      B
28  022-14-110387  BS(CS)  ...          57      F
29  022-14-110217  BS(CS)  ...          39      F
30  022-14-110401  BS(CS)  ...          72      B
31  022-14-110231  BS(CS)  ...          73      B
32  022-14-110035  BS(CS)  ...          29      F
33   022-14-19919  BS(CS)  ...          51      F
34  022-14-110413  BS(CS)  ...          86      A
35   022-14-19923  BS(CS)  ...          66      C
36  022-14-110582  BS(CS)  ...          70      B
37  022-14-110230  BS(CS)  ...          75      B
38  022-14-110229  BS(CS)  ...          39      F
39  022-14-110107  BS(CS)  ...          68      C
40  022-14-110584  BS(CS)  ...          81      A
41  022-14-110225  BS(CS)  ...          57      F
42  022-14-110587  BS(CS)  ...          67      C
43  022-14-110451  BS(CS)  ...          79      B
44  022-14-110589  BS(CS)  ...          63      C
45  022-14-110400  BS(CS)  ...          80      A
46   022-14-19911  BS(CS)  ...          65      C
47  022-14-110219  BS(CS)  ...          46      F

[48 rows x 14 columns]

### 4. What are the columns in the dataframe?

In [44]:
data.columns

Index(['Student Code', 'Degree', 'Student Name', 'Mid', 'Quiz 1', 'Quiz 2',
       'Best of Quizzes', 'Assignment 1', 'Assignment 2',
       'Best of Assignments', 'Total Sessional (50)', 'Final (50)',
       'Total (100)', 'Grade'],
      dtype='object')

### 5. Sort the data based on Marks obtained. Fill all the 'na' cells with 0

In [45]:
# Sort the DataFrame by Marks obtained in descending order
data.sort_values(by='Total Sessional (50)', ascending=False, inplace=True)

# Fill all NaN values with 0
data.fillna(0, inplace=True)
data.head()

     Student Code  Degree         Student Name  ...  Final (50)  Total (100)  Grade
19  022-14-110222  BS(CS)      Mohammad Hunain  ...        45.0           91      A
40  022-14-110584  BS(CS)          Sharif Taqi  ...        35.0           81      A
10  022-14-110214  BS(CS)  Fatima Haider Warsi  ...        45.0           91      A
0    022-14-19987  BS(CS)          Abdul Basit  ...        25.0           70      B
45  022-14-110400  BS(CS)    Syeda Sabika Raza  ...        35.0           80      A

[5 rows x 14 columns]

### 6. Display the top 10 rows

In [46]:
data.head(10)

     Student Code  Degree         Student Name  ...  Final (50)  Total (100)  Grade
19  022-14-110222  BS(CS)      Mohammad Hunain  ...        45.0           91      A
40  022-14-110584  BS(CS)          Sharif Taqi  ...        35.0           81      A
10  022-14-110214  BS(CS)  Fatima Haider Warsi  ...        45.0           91      A
0    022-14-19987  BS(CS)          Abdul Basit  ...        25.0           70      B
45  022-14-110400  BS(CS)    Syeda Sabika Raza  ...        35.0           80      A
43  022-14-110451  BS(CS)    Syed Faizan Uddin  ...        34.0           79      B
37  022-14-110230  BS(CS)        Sadaf Nosheen  ...        30.0           75      B
7   022-14-110388  BS(CS)     Aneebullah Niazi  ...        40.0           85      A
27  022-14-110452  BS(CS)  Muhammad Osama Khan  ...        26.0           71      B
25  022-14-110105  BS(CS)       Muhammad Faraz  ...        41.0           86      A

[10 rows x 14 columns]

### 7. Display the last 10 rows

In [47]:
data.tail(10)

     Student Code  Degree  ... Total (100)  Grade
22  022-14-110398  BS(CS)  ...          57      F
2   022-14-110585  BS(CS)  ...          63      C
1   022-14-110233  BS(CS)  ...          50      F
18  022-14-110223  BS(CS)  ...          60      C
29  022-14-110217  BS(CS)  ...          39      F
47  022-14-110219  BS(CS)  ...          46      F
3    022-14-19718  BS(CS)  ...          46      F
38  022-14-110229  BS(CS)  ...          39      F
32  022-14-110035  BS(CS)  ...          29      F
15   022-14-19916  BS(CS)  ...          18      F

[10 rows x 14 columns]

### 8. Display only the odd rows

In [48]:
data.iloc[1::2]

     Student Code  Degree  ... Total (100)  Grade
40  022-14-110584  BS(CS)  ...          81      A
0    022-14-19987  BS(CS)  ...          70      B
43  022-14-110451  BS(CS)  ...          79      B
7   022-14-110388  BS(CS)  ...          85      A
25  022-14-110105  BS(CS)  ...          86      A
34  022-14-110413  BS(CS)  ...          86      A
24  022-14-110215  BS(CS)  ...          77      B
6   022-14-110588  BS(CS)  ...          74      B
39  022-14-110107  BS(CS)  ...          68      C
4   022-14-110648  BS(CS)  ...          77      B
13  022-14-110600  BS(CS)  ...          67      C
44  022-14-110589  BS(CS)  ...          63      C
26  022-14-110370  BS(CS)  ...          65      C
12  022-15-110994  BS(CS)  ...          73      B
20  022-14-110412  BS(CS)  ...          71      B
17  022-14-110396  BS(CS)  ...          70      B
41  022-14-110225  BS(CS)  ...          57      F
8   022-14-110601  BS(CS)  ...          61      C
33   022-14-19919  BS(CS)  ...          51      F
2   022-14-110585  BS(CS)  ...          63      C
18  022-14-110223  BS(CS)  ...          60      C
47  022-14-110219  BS(CS)  ...          46      F
38  022-14-110229  BS(CS)  ...          39      F
15   022-14-19916  BS(CS)  ...          18      F

[24 rows x 14 columns]

### 9. Display only those students who got failed in examination

In [49]:
data[data['Grade'] == 'F']

     Student Code  Degree  ... Total (100)  Grade
28  022-14-110387  BS(CS)  ...          57      F
41  022-14-110225  BS(CS)  ...          57      F
33   022-14-19919  BS(CS)  ...          51      F
22  022-14-110398  BS(CS)  ...          57      F
1   022-14-110233  BS(CS)  ...          50      F
29  022-14-110217  BS(CS)  ...          39      F
47  022-14-110219  BS(CS)  ...          46      F
3    022-14-19718  BS(CS)  ...          46      F
38  022-14-110229  BS(CS)  ...          39      F
32  022-14-110035  BS(CS)  ...          29      F
15   022-14-19916  BS(CS)  ...          18      F

[11 rows x 14 columns]

### 10. Find out the basic statistical info about data

In [50]:
    data.describe()

             Mid     Quiz 1  ...  Final (50)  Total (100)
count  48.000000  48.000000  ...   48.000000    48.000000
mean   22.937500   6.833333  ...   27.270833    66.166667
std     5.236558   2.336877  ...    9.259244    15.227821
min     9.000000   0.000000  ...    0.000000    18.000000
25%    20.000000   5.750000  ...   22.000000    60.000000
50%    25.000000   7.000000  ...   27.500000    69.000000
75%    27.000000   9.000000  ...   33.250000    75.250000
max    30.000000   9.000000  ...   45.000000    91.000000

[8 rows x 10 columns]

### 11. How many students got A, B, C, F?

In [51]:
data['Grade'].value_counts(ascending=True)

A     8
F    11
C    13
B    16
Name: Grade, dtype: int64

### 12. What are the mean scores for students who got A, B, C, F?

In [52]:
data.groupby('Grade')['Total Sessional (50)'].mean()

Grade
A    45.125000
B    42.437500
C    39.230769
F    28.818182
Name: Total Sessional (50), dtype: float64